.paper {
   width: 30%;
   height: 45%;
   margin: 0 auto;
   padding: 3% 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.wrapper {
   width: 100%;
   height: 90%;
   padding: 0 10%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}
.form {
   width: 100%;
}
.signUp {
   margin-top: 20px;
}
